.page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.show {
  display: block !important;
}

.modal {
  max-width: 500px;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}

.cooking-time-container {
  display: flex;
}

.input-genre {
  display: inline;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  margin-right: 2px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.genre-close {
  font-size: 20px;
  margin-left: 4px;
  top: 2px;
  position: relative;
  cursor: pointer;
}

.genre-creator {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.genre-holder {
  overflow: scroll;
}

.form-group {
  width: 100%;
}

.no-outline {
  border: none !important;
  overflow: auto;
  outline: none !important;
  box-shadow: none !important;
  resize: none;
}

.book-name {
  line-height: 38px;
  flex: 1;
  padding-left: 12px;
}