$green1: #4A9912;
$green2: #61B024;
$green3: #78C736;
$green4: #8FDE6B;
$green5: #ABF091;
$green6: #CFFCC7;

$teal1: #005463;
$teal2: #05758A;
$teal3: #1C9CAD;
$teal4: #36C2CC;
$teal5: #85E3E5;
$teal6: #BDF0ED;

$grey1: #555555;
$grey2: #767676;
$grey3: #989898;
$grey4: #B1B1B1;
$grey5: #C8C8C8;
$grey6: #D9D9D9;

$orange1: #FF7B00;
$orange2: #FF8800;
$orange3: #FF9500;
$orange4: #FFA200;
$orange5: #FFAA00;
$orange6: #FFB700;

$yellow1: #FFC300;
$yellow2: #FFD000;
$yellow3: #FFDD00;
$yellow4: #FFEA00;
